.main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: flex-end;
    
}

.error{
    display: block;
}
.error-text {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 60px;

}